<!--
    ***** COMO REDIRECIONAR UMA PÁGINA USANDO UM BOTÃO ******
<button class="rounded-full bg-green-400 px-5 py-2 font-sans font-bold
 hover:bg-green-600 hover:text-white" [routerLink]="['/moeda']"
  (click)="changePath()"
  Click Me!
</button> -->

<div class="container mx-auto">

  <div class="grid grid-cols-4">

    <div class="col-span-1">

      <img [src]=url (mouseover)="toGif()" (mouseout)="toImg()">

    </div>

    <div class="col-span-2"></div>

    <div class="col-span-1">as</div>

  </div>

</div>
